In [15]:
import pandas as pd

def load_all_data(edges_file, features_file, classes_file):
    df_patients = pd.read_csv(edges_file)
    df_features = pd.read_csv(features_file, index_col=0)
    df_classes = pd.read_csv(classes_file, index_col=0).sample(frac=1)
    return df_patients, df_features, df_classes

In [16]:
base_path = "C:/Users/colombelli/Desktop/TCC/data/N3/"

edges_file = base_path+"edges.csv"
features_file = base_path+"features.csv"
classes_file = base_path+"classes.csv"
df_patients, df_features, df_classes = load_all_data(edges_file, features_file, classes_file)

In [17]:
from sklearn import preprocessing

target_encoding = preprocessing.LabelBinarizer()
target_encoding.fit_transform(df_classes['class'])

array([[0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       ...,
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0]])

In [19]:
target_encoding.classes_

array(['normal', 'stage1', 'stage2', 'stage3', 'stage4'], dtype='<U6')

In [7]:
df_classes

                  class
id
TCGA-KL-8331-01  stage2
TCGA-B3-8121-01  stage1
TCGA-A4-7584-01  stage1
TCGA-BQ-5884-11  normal
TCGA-CZ-5451-01  stage2
...                 ...
TCGA-P4-A5EA-01  stage3
TCGA-B8-A54E-01  stage1
TCGA-DV-A4W0-05  stage1
TCGA-CJ-5689-01  stage1
TCGA-UZ-A9PX-01  stage1

[547 rows x 1 columns]

In [5]:
df_classes.value_counts()

class
stage1    284
stage3     98
stage2     65
stage4     53
normal     47
dtype: int64

In [8]:
cancer_samples = df_classes.loc[df_classes["class"] != "normal"].index

df_classes.loc[cancer_samples, :]
df_features.loc[cancer_samples, :]
df_patients[df_patients['source'].isin(cancer_samples) & 
            df_patients['target'].isin(cancer_samples)]

                source           target    weight
0      TCGA-B0-5400-01  TCGA-B0-5400-01  1.000000
1      TCGA-B0-5400-01  TCGA-CJ-6031-01  0.730765
2      TCGA-B0-5400-01  TCGA-A3-3358-01  0.703268
3      TCGA-B0-5400-01  TCGA-DV-5568-01  0.707518
4      TCGA-B0-5400-01  TCGA-CJ-5686-01  0.720245
...                ...              ...       ...
12519  TCGA-BQ-7045-01  TCGA-BQ-7045-01  1.000000
12520  TCGA-BQ-7045-01  TCGA-MH-A854-01  0.703983
12521  TCGA-MH-A855-01  TCGA-MH-A855-01  1.000000
12522  TCGA-MH-A854-01  TCGA-MH-A854-01  1.000000
12523  TCGA-KV-A6GD-01  TCGA-KV-A6GD-01  1.000000

[11837 rows x 3 columns]

In [9]:
df_classes = df_classes.loc[cancer_samples, :]

In [11]:
df_classes.value_counts()

class
stage1    284
stage3     98
stage2     65
stage4     53
dtype: int64

In [14]:
n_samples = len(df_classes)
n_classes = 4
for count in df_classes.value_counts():
    print(n_samples / (n_classes * count))

0.44014084507042256
1.2755102040816326
1.9230769230769231
2.358490566037736